<!-- Navigation -->

<nav class="navbar navbar-toggleable-md ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/sam.png" width="80"  class="d-inline-block align-top" alt="">
    <span id="tittle">SAM</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
      </li>
    </ul>
    <ul class="nav  navbar-right">
      <li><a id="navlogin" href="#">Iniciar sesión </a></li>
    </ul>
  </div>
</nav>


<!-- Page Content -->
<div class="container">
  <h3 id="slogan">El mejor sistema de correo electrónico, rápido, seguro y automatizado.</h3>
  <div id="buttons">
    <button type="button" id="button-register" class="btn btn-lg ">Registrarse</button>
    <button type="button" id ="button-login" class="btn btn-lg ">Iniciar sesión</button>
  </div>

</div>
